<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
  <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
  <div class = "wrap">
      <form method="post" action="/login">
          <div class="form-header">
              <img src="/images/image.webp">
          </div>
          <div class="inputs">
              <input type="text" name="id" placeholder="아이디" autocomplete="off" required />
              <input type="password" name="password" placeholder="비밀번호" required />
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          </div>
          <div class="btn">
              <button type="submit">로그인</button>
          </div>
      </form>
  </div>
</body>
</html>